* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    overflow-x: hidden;
}

.colorPink {
    color: rgb(216, 40, 166);
}

header {
    width: 100vw;
    height: 100vh;
    background-image: url(images/pexels-simon-berger-1183099.jpg);
    background-position: 200px 30px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.mainContainer {
    color: rgb(255, 255, 255);
    font-size: 4vmin;
    margin-bottom: 100px;
    text-align: center;
}

.mainContainer a,
.buttons {
    background-color: rgb(216, 40, 166);
    text-decoration: none;
    color: white;
    font-size: 2vmin;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
}

#subtitle {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 7vmin;
}

.line {
    background-color: rgb(216, 40, 166);
    width: 50%;
    height: 4px;
    margin: auto;
    border-radius: 10px;
    margin: 10px auto;
}


/*------navbar--------*/

.navbar {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    font-size: 2.5vmin;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 50px;
}

#logoimages {
    display: flex;
    align-items: center;
    font-size: 3vw;
    justify-content: left;
    height: 8vmin;
    position: absolute;
    color: whitesmoke;
    z-index: 10;
    margin-left: 4vmin;
    padding: 10px;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    margin-top: 20px;
    margin-left: 5vmin;
    padding: 10px 20px;
}

.navbar ul li a {
    color: whitesmoke;
    text-decoration: none;
    border-radius: 20px;
    padding: 15%;
    border-left: 3px solid rgb(216, 40, 166);
}

.navbar ul li a:hover {
    color: white;
    background-color: rgb(216, 40, 166);
}

.navbar ul li a:active {
    box-shadow: 2px 4px 2px 2px rgb(78, 77, 77);
}

.menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 52px;
    cursor: pointer;
    color: rgb(216, 40, 166);
    display: none;
    border: 1px solid rgb(216, 40, 166);
    border-radius: 4px;
}


/* ----------Section of Upcoming event-----------*/

.events {
    width: 80%;
    margin: 80px auto;
}

.title {
    text-align: center;
    font-size: 4vmin;
    color: #49497e;
}

.row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.events .row {
    margin-top: 50px;
}

h4 {
    font-size: 3vmin;
    color: #484872;
    margin: 20px auto;
}

p {
    color: #7c7c7c;
    padding: 0px 40px;
    text-align: center;
}

.events .buttons {
    margin-top: 30px;
}


/*----------Explore section----------*/

.explore {
    width: 100%;
    height: 100vh;
    background-image: url(images/bg2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.explore-content {
    width: 60%;
    padding: 50px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.explore-content h1 {
    font-size: 7vmin;
}

.explore-content .line {
    margin-bottom: 50px;
}

.explore-content p {
    color: white;
    margin-bottom: 40px;
}


/*----------upcoming tours section----------*/

.content-col {
    width: 40%;
}

.image-col {
    width: 60%;
}

.tours .image-gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

.image-gallery img {
    max-width: 300px;
    margin: 10px;
}

.content-col h1 {
    font-size: 7vmin;
    color: #484872;
}

.content-col .line {
    margin-left: -1px;
}

.content-col p {
    padding: 0px;
    margin: 30px auto;
}

.content-col .buttons {
    margin-left: -100px;
}


/*----------footer section----------*/

.footer {
    width: 100%;
    min-height: 100px;
    background-color: #484872;
    text-align: center;
    padding: 20px 80px;
}

.footer p {
    color: whitesmoke;
    margin: 20px auto;
}


/*----------mobile Device----------*/

@media only screen and (max-width:640px) {
    .navbar {
        padding: 0%;
    }
    .navbar ul li {
        flex-direction: column;
    }
    .ulContainer {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background-color: #7c7c7c;
        margin-top: -900px;
        color: white;
        transition: all 0.5s ease;
        border-bottom-right-radius: 30%;
    }
    .mobile-menu {
        margin-top: 0px;
    }
    .navbar ul li {
        margin: 10px auto;
    }
    .navbar ul li a {
        color: white;
        margin: 10px auto;
        font-size: 20px;
    }
    .menu-btn {
        display: block;
        font-size: 50px;
        color: white;
    }
    #logoimages {
        display: flex;
        align-items: center;
        font-size: 40px;
        margin-top: 30px;
        justify-content: left;
        height: 8vmin;
        position: absolute;
        color: white;
        z-index: 10;
        margin-left: 2vmin;
    }
    /*----------event section----------*/
    .row {
        flex-direction: column;
    }
    .row .col {
        margin: 20px auto;
        text-align: center;
    }
    .row .col h4 {
        margin: 10px auto;
    }
    .row .col .buttons {
        margin-top: 10px;
    }
    .col img {
        max-width: 90%;
    }
    /*----------explore Section----------*/
    .explore-content {
        width: 100%;
    }
    .explore-content .line {
        margin-left: 0px;
    }
    .explore-content p,
    .explore-content .buttons {
        margin-left: -40px;
    }
    .tours .col {
        width: 100%;
    }
    .image-gallery {
        justify-content: center;
        align-items: center;
    }
    .image-gallery img {
        width: 90%;
    }
    /*----------Upcoming tours and destination----------*/
    .tours .line {
        margin: 10px auto;
    }
    .tours .buttons {
        margin: auto;
    }
    /*----------footer----------*/
    .footer {
        padding: 10px;
    }
}


/*-----------Tablets and Medium size Devices----------*/

@media (min-width: 641px) and (max-width:1007px) {
    .navbar ul li {
        list-style: none;
        margin-top: 20px;
        margin-left: 0vmin;
        padding: 10px 20px;
    }
    .navbar ul li a {
        font-size: 15px;
    }
    .navbar {
        padding-right: 0px;
    }
    #logoimages {
        font-size: 4vw;
        justify-content: left;
        height: 8vmin;
        position: absolute;
        color: whitesmoke;
        z-index: 10;
        margin-left: 0vmin;
        padding: 10px;
        margin-top: 10px;
    }
    /*----------Upcoming events----------*/
    .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }
    .row .col {
        margin: 20px auto;
        text-align: center;
    }
    .row .col h4 {
        margin: 20px auto 10px;
    }
    .row .col .buttons {
        margin-top: 10px;
        margin-bottom: -20px;
    }
    .col img {
        max-width: 90%;
    }
    /*----------explore Section----------*/
    .explore-content {
        width: 100%;
    }
    .explore-content .line {
        margin-left: 0px;
        margin-bottom: 30px;
    }
    .explore-content p {
        color: white;
        margin-bottom: 30px;
    }
    .explore-content p,
    .explore-content .buttons {
        margin-left: -40px;
    }
    .tours .col {
        width: 100%;
    }
    .image-gallery {
        justify-content: center;
        align-items: center;
    }
    .image-gallery img {
        width: 90%;
    }
    /*----------Upcoming tours and destination----------*/
    .tours .line {
        margin: 10px auto;
    }
    .tours .buttons {
        margin: auto;
    }
    .content-col p {
        padding: 0px;
        margin: 10px auto;
    }
    .image-gallery img {
        width: 70%;
    }
    /*----------footer----------*/
    .footer {
        padding: 10px;
    }
}


/* ----------Animations----------*/

img {
    transition: transform .3s ease;
}

img:hover {
    transform: scale(1.1);
}

.buttons:hover {
    color: rgb(216, 40, 166);
    background-color: #9c9c9c;
}